!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-type"}/
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-type"}/
    %title Dashboard | Rails Pki
    %link{:href => "/stylesheets/admin/active_admin.css?1307285548", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "/javascripts/active_admin_vendor.js?1307284206", :type => "text/javascript"}
    %script{:src => "/javascripts/active_admin.js?1307284206", :type => "text/javascript"}
    %meta{:content => "authenticity_token", :name => "csrf-param"}/
    %meta{:content => "A+n0rNFXmqnHYFjDO5eo4mCAUW5rpLAlLxxxbveQAXM=", :name => "csrf-token"}/
  %body.index.admin_dashboard
    #wrapper
      #header
        %h1#site_title RheoliPKI
        %ul#tabs
          - if user_signed_in?
            %li#dashboard.current
              %a{:href => "/dashboard"} Dashboard
            %li#certificates
              %a{:href => "/certificates"} Certificates
          - else
            %li#roles
              %a{:href => "/users/sign_in"} Login
        %p#utility_nav
          - if user_signed_in?
            %span.current_user= current_user.email
            %a{:href => "/admin/logout"} Logout
      #title_bar
        %h2#page_title Dashboard
        .action_items
      #active_admin_content.without_sidebar
        #main_content_wrapper
          #main_content
            %p
              = yield
      #footer
        %p
          Powered by
          %a{:href => "http://www.activeadmin.info"} Active Admin
          0.2.2
