%h1 RA

What can you do:
%br/
%ul
  %li
    %a{:href=>"/ra/view"} View/manage certificates
  %li
    %a{:href=>"/ra/request"} Request a new certificate
  %li
    %a{:href=>"/ra/create"} Create a new certificate (with private key)
