%h1 RA Request
%br/
%form{:name=>"files", :action=>"", :method=>"POST", :enctype=>"application/x-www-form-urlencoded"}
  %div{:style=>"border: 1px solid black; padding: 3px;"}
    ~ "<textarea name='code' id='code' cols='100' rows='30'>X509 PEM Request</textarea>"
  %p
  %input{:type=>"submit", :name=>"Submit", :value=>"Request"}

%script{:src=>"/codemirror/js/codemirror.js",:type=>"text/javascript"}
  //
%script{:src=>"/codemirror/js/mirrorframe.js",:type=>"text/javascript"}
  //
    
%script{:type=>"text/javascript"}
  var editor = CodeMirror.fromTextArea('code', {
  height: "500px",
  width: "600px",
  parserfile: ["tokenize.js", "parsedummy.js"],
  stylesheet: ["/codemirror/css/csscolors.css"],
  path: "/codemirror/js/"
  });