<h2>View Request/Certificate</h2>
<p>
 <table border="1" cellspacing="0">
  <tr><td><b>CN</b></td><td><b>State</td></tr>
  <% @ra_items.each do |c| %>
  <tr>
    <td><%= link_to("#{c.dn} (#{c.ca_definition.name})", :action => "cert_view", :id => c.id) %></td>
    <td>
	 <%= c.state %>
	</td>
  </tr>
  <% end %>
 </table>
</p>
