<h2>Generate request</h2>

 <p>
	Private Key:<br/>
	<pre><%= @sPKey %></pre>
 </p>
 <p>
	Request:<br/>
	<pre><%= @sReqPEM %></pre>
 </p>
 <p>
	Request in Text:<br/>
	<pre><%= @sReqText %></pre>
 </p>

