<h2>RA Home</h2>
<p>
 Please choose:
 <ul>
  <li><%= link_to("View Requests/Certificates", :action => "cert_view") %></li>
  <li><%= link_to("Request Server Certificate", :action => "server_request") %></li>
  <li><%= link_to("Client Request", :action => "client_request") %></li>
  <li><%= link_to("Generate request", :action => "genreq") %></li>
  <li><%= link_to("View Requests for Sign", :action => "sign") %></li>
 </ul>
</p>
