/* andreas08 - an open source xhtml/css website layout by Andreas Viklund - http://andreasviklund.com . Free to use in any way and for any purpose as long as the proper credits are given to the original designer. Version: 1.0, November 28, 2005 */

/**************** Body and tag styles ****************/

* {
  margin: 0;
  padding: 0; }

body {
  font: 76% Verdana,Tahoma,Arial,sans-serif;
  line-height: 1.4em;
  text-align: center;
  color: #303030;
  background: #e8eaec; }

a {
  color: #111111;
  font-weight: bold;
  text-decoration: none;
  background-color: inherit;
  &:hover {
    color: #3a8a5a;
    text-decoration: none;
    background-color: inherit; }
  img {
    border: none; } }

p {
  padding: 0 0 1.6em 0;
  form {
    margin-top: 0;
    margin-bottom: 20px; } }

img {
  &.left, &.center, &.right {
    padding: 4px;
    border: 1px solid #a0a0a0; }
  &.left {
    float: left;
    margin: 0 12px 5px 0; }
  &.center {
    display: block;
    margin: 0 auto 5px auto; }
  &.right {
    float: right;
    margin: 0 0 5px 12px; } }

/**************** Header and navigation styles ****************/

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table; }

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    background-color: #c00;
    color: #fff; }
  p {
    color: #333;
    margin-bottom: 0;
    padding: 5px; }
  ul li {
    font-size: 12px;
    list-style: square; } }

#container {
  width: 760px;
  margin: 20px auto;
  padding: 1px 0;
  text-align: left;
  background: #ffffff;
  color: #303030;
  border: 2px solid #a0a0a0; }

#header {
  height: 110px;
  width: 758px;
  margin: 0 1px 1px 1px;
  background: #12a630;
  color: #ffffff;
  h1 {
    padding: 35px 0 0 20px;
    font-size: 2.4em;
    background-color: inherit;
    color: #ffffff;
    letter-spacing: -2px;
    font-weight: normal; }
  h2 {
    margin: 10px 0 0 40px;
    font-size: 1.4em;
    background-color: inherit;
    color: #f0f2f4;
    letter-spacing: -1px;
    font-weight: normal; }
  h3 {
    margin: 7px 0 0 50px;
    font-size: 0.8em;
    background-color: inherit;
    color: #f0f2f4;
    letter-spacing: -1px;
    font-weight: normal; } }

#navigation {
  height: 2.2em;
  line-height: 2.2em;
  width: 758px;
  margin: 0 1px;
  background: #12c830;
  color: #ffffff;
  li {
    float: left;
    list-style-type: none;
    border-right: 1px solid #ffffff;
    white-space: nowrap;
    a {
      display: block;
      padding: 0 10px;
      font-size: 0.8em;
      font-weight: normal;
      text-transform: uppercase;
      text-decoration: none;
      background-color: inherit;
      color: #ffffff; } } }

* html #navigation a {
  width: 1%; }

#navigation {
  .selected, a:hover {
    background: #12f030;
    color: #ffffff;
    text-decoration: none; } }

/**************** Content styles ****************/

#content {
  float: left;
  width: 530px;
  font-size: 0.9em;
  padding: 20px 0 0 20px;
  h2 {
    display: block;
    margin: 0 0 16px 0;
    font-size: 1.7em;
    font-weight: normal;
    letter-spacing: -1px;
    color: #505050;
    background-color: inherit;
    a {
      font-weight: normal; } }
  h3 {
    margin: 0 0 5px 0;
    font-size: 1.4em;
    letter-spacing: -1px; }
  a:hover {
    text-decoration: underline; } }

#subcontent a:hover {
  text-decoration: underline; }

#content {
  ul, ol {
    margin: 0 5px 16px 35px; }
  dl {
    margin: 0 5px 10px 25px; }
  dt {
    font-weight: bold;
    margin-bottom: 5px; }
  dd {
    margin: 0 0 10px 15px; } }

/**************** Sidebar styles ****************/

#subcontent {
  float: right;
  width: 170px;
  padding: 20px 20px 10px 0;
  line-height: 1.4em;
  h2 {
    display: block;
    margin: 0 0 15px 0;
    font-size: 1.6em;
    font-weight: normal;
    text-align: left;
    letter-spacing: -1px;
    color: #505050;
    background-color: inherit; }
  p {
    margin: 0 0 16px 0;
    font-size: 0.9em; } }

/**************** Menublock styles ****************/

.menublock {
  margin: 0 0 20px 8px;
  font-size: 0.9em;
  li {
    list-style: none;
    display: block;
    padding: 2px;
    margin-bottom: 2px;
    a {
      font-weight: bold;
      text-decoration: none;
      &:hover {
        text-decoration: none; } }
    ul {
      margin: 3px 0 3px 15px;
      font-size: 1em;
      font-weight: normal;
      li {
        margin-bottom: 0; }
      a {
        font-weight: normal; } } } }

/**************** Searchbar styles ****************/

#searchbar {
  margin: 0 0 20px 0;
  form fieldset {
    margin-left: 10px;
    border: 0 solid; }
  #s {
    height: 1.2em;
    width: 110px;
    margin: 0 5px 0 0;
    border: 1px solid #a0a0a0; }
  #searchbutton {
    width: auto;
    padding: 0 1px;
    border: 1px solid #808080;
    font-size: 0.9em;
    text-align: center; } }

/**************** Footer styles ****************/

#footer {
  clear: both;
  width: 758px;
  padding: 5px 0;
  margin: 0 1px;
  font-size: 0.9em;
  color: #f0f0f0;
  background: #12a630;
  p {
    padding: 0;
    margin: 0;
    text-align: center; }
  a {
    color: #f0f0f0;
    background-color: inherit;
    font-weight: bold;
    &:hover {
      color: #ffffff;
      background-color: inherit;
      text-decoration: underline; } } }

/**************** Misc classes and styles ****************/

.splitcontentleft {
  float: left;
  width: 48%; }

.splitcontentright {
  float: right;
  width: 48%; }

.clear {
  clear: both; }

.small {
  font-size: 0.8em; }

.hide {
  display: none; }

.textcenter {
  text-align: center; }

.textright {
  text-align: right; }

.important {
  color: #f02025;
  background-color: inherit;
  font-weight: bold; }

.box {
  margin: 0 0 20px 0;
  padding: 10px;
  border: 1px solid #c0c0c0;
  background-color: #fafbfc;
  color: #505050;
  line-height: 1.5em; }
