<h2>Delete User '<%= @db_view.username %>'</h2>

<%= start_form_tag :action => 'delete_user', :id => @db_view.id %>
<table border="1">
 <tr>
  <td valign="top">User</td>
  <td>
   <%= @db_view.username %>
  </td>
 </tr>
 <tr>
  <td valign="top">E-Mail</td>
  <td>
   <%= @db_view.email %>
  </td>
 </tr>
 <tr>
  <td valign="top">E-Mail CC</td>
  <td>
   <%= @db_view.email_cc %>
  </td>
 </tr>
</table>
<%= submit_tag "Delete" %>
<%= end_form_tag %>
<br/>
</p>
