<h2>Request to ready for Signing</h2>
<p>
 <table border="1" cellspacing="0">
  <tr><td><b>CN</b></td><td><b>Date</td><td>State</td></tr>
  <% @ca_items.each do |c| %>
  <tr>
    <td><%= link_to("#{c.dn} (#{c.ca_definition.name})", :action => "sign", :id => c.id) %></td>
    <td><%= c.updated_on %></td>
    <td>
	 <%= c.state %>
	</td>
  </tr>
  <% end %>
 </table>
</p>
